USE [master]
GO
/****** Object:  Database [TestingSystem]    Script Date: 2/14/2023 5:36:56 PM ******/
CREATE DATABASE [TestingSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TestingSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\TestingSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TestingSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS01\MSSQL\DATA\TestingSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TestingSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TestingSystem]
GO
/****** Object:  Table [dbo].[Question]    Script Date: 2/14/2023 5:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Question](
	[id] [int] NOT NULL,
	[Question] [nvarchar](255) NOT NULL,
	[Option1] [nvarchar](255) NOT NULL,
	[Option2] [nvarchar](255) NOT NULL,
	[Option3] [nvarchar](255) NOT NULL,
	[Option4] [nvarchar](255) NOT NULL,
	[CorrectOption] [int] NOT NULL,
	[QuestionType] [int] NULL,
	[Topic] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QuestionTest]    Script Date: 2/14/2023 5:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuestionTest](
	[id] [int] NOT NULL,
	[QuestionID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 2/14/2023 5:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[id] [int] NOT NULL,
	[StudentName] [nvarchar](255) NOT NULL,
	[NID] [nvarchar](14) NOT NULL,
	[UniID] [nvarchar](10) NULL,
	[Faculty] [nvarchar](50) NOT NULL,
	[Lvl] [int] NOT NULL,
	[PhoneNum] [nvarchar](11) NULL,
	[Email] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentQuestion]    Script Date: 2/14/2023 5:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentQuestion](
	[id] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[QuestionTestID] [int] NOT NULL,
	[StudentAns] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentTest]    Script Date: 2/14/2023 5:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentTest](
	[id] [int] NOT NULL,
	[StudentID] [int] NOT NULL,
	[TestID] [int] NOT NULL,
	[Result] [int] NOT NULL,
	[joined] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test]    Script Date: 2/14/2023 5:36:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Test](
	[id] [int] NOT NULL,
	[TestName] [nvarchar](255) NOT NULL,
	[TestDate] [date] NOT NULL,
	[QuestionsNum] [int] NOT NULL,
	[Duration] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[StudentTest] ADD  DEFAULT ((0)) FOR [joined]
GO
ALTER TABLE [dbo].[QuestionTest]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Question] ([id])
GO
ALTER TABLE [dbo].[QuestionTest]  WITH CHECK ADD FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([id])
GO
ALTER TABLE [dbo].[StudentQuestion]  WITH CHECK ADD FOREIGN KEY([QuestionTestID])
REFERENCES [dbo].[QuestionTest] ([id])
GO
ALTER TABLE [dbo].[StudentQuestion]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[StudentTest]  WITH CHECK ADD FOREIGN KEY([StudentID])
REFERENCES [dbo].[Student] ([id])
GO
ALTER TABLE [dbo].[StudentTest]  WITH CHECK ADD FOREIGN KEY([TestID])
REFERENCES [dbo].[Test] ([id])
GO
USE [master]
GO
